<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name="com.guru99bank.utilities.Reporting"/>
	</listeners>
  <test thread-count="5" name="ChromeTest">
  <parameter name="browser" value="Chrome" />
    <classes>
     <class name="com.guru99bank.testCases.L"/>
    
     
     
     
     
    </classes>
  </test> 

</suite> <!-- Suite -->

